@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter/Inter-Regular.ttf"), local("ttf");
  font-display: swap;
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Inter/Inter-SemiBold.ttf"), local("ttf");
    font-display: swap;
  }

@font-face {
  font-family: "Jetbrains Mono";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/JetbrainsMono/JetBrainsMono-Regular.ttf"), local("ttf");
  font-display: swap;
}
