@import "posts.css";
@import "nav.css";

:root {
  --primary-color: rgb(45, 175, 116);
  font-size: 1.025em;
}

footer {
  margin-top: 100px;
  font-size: 0.85em;
  color: #7a7a7aaa;
}

footer a {
  color: inherit;
  border-bottom: 2px solid;
}

footer a:hover {
  background-color: transparent;
  color: var(--text-0);
}
