/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Inconsolata';
    font-size: 17px;
    margin: auto;
    padding: 0 30px;
    max-width: 69ch;
    min-height: 100vh;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
}
main {
    flex: 1;
}
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
    color: #222;
}
a {
    color: #222;
}
a:hover {
    text-decoration-color: rgb(86, 209, 154);
    text-decoration-thickness: 2px;
}
nav a {
    color: rgb(6, 131, 75);
    margin-right: 10px;
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}
content {
    line-height: 1.6;
}
table {
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
}
code {
    background-color: #f2f2f2;
}
pre {
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.8rem;
    margin: 1rem 0;
    padding: 1rem;
}
pre > code {
    all: unset;
}
blockquote {
    border: 1px solid #999;
    color: #222;
    padding: 2px 20px 2px 20px;
    margin: 0px;
    font-style: italic;
}
p {
    text-align: justify;
}

.slug-ul {
    list-style-type: none;
    padding: unset;
}
.slug-ul li {
    display: flex;
}
.slug-ul li time {
    flex: 0 0 130px;
    font-style: italic;
    color: #595959;
}
@media handheld, only screen and (max-width: 479px), only screen and (max-device-width: 479px) {
    .slug-ul li {
        margin-bottom: 10px;
    }
}