---
const today = new Date();
---

<footer>
    &copy; {today.getFullYear()} Dhiraj Gagrai <br>
    <div class="attributes">
        <a target="_blank" href="https://icons8.com/icon/EDvciDCUjpQ6/kawaii-broccoli">Kawaii Broccoli</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
</footer>
<style>
    footer {
        position: relative;
        padding: 25px;
        text-align: center;
    }
    .attributes {
        font-size: 0.7rem;
    }
</style>
