---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
    <h1>
        {SITE_TITLE}
    </h1>
    <nav>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/notes">Notes</HeaderLink>
        <HeaderLink href="/now">Now</HeaderLink>
    </nav>
</header>
<style>
    header {
        margin: 2em 0;
    }
    h1 {
        font-size: 1.75rem;
    }
</style>
