---
import HeaderLink from "./HeaderLink.astro";
import { PAGE_TITLE } from "../consts";
---

<header>
    <h1>
        <img
            src="/kawaii-broccoli-72.png"
            alt="Kawaii Broccoli"
            srcset="/kawaii-broccoli-72.png 1x, /kawaii-broccoli-96.png 2x"
            width="69" height="69"
        >
        {PAGE_TITLE}
    </h1>
    <nav>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/notes">Notes</HeaderLink>
        <HeaderLink href="/now">Now</HeaderLink>
    </nav>
</header>
<style>
    header {
        margin: 2em 0;
    }
    img {
        float: left;
        margin-right: 20px;
    }
    h1 {
        font-size: 1.75rem;
    }
</style>
