---
import HeaderLink from "./HeaderLink.astro";
import { PAGE_TITLE } from "../consts";
---

<header>
    <h1>
        {PAGE_TITLE}
    </h1>
    <nav>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/blog">Blog</HeaderLink>
        <HeaderLink href="/notes">Notes</HeaderLink>
        <HeaderLink href="/now">Now</HeaderLink>
    </nav>
</header>
<style>
    header {
        margin: 1.25em 0;
    }
    img {
        float: left;
        margin-right: 20px;
    }
    h1 {
        font-size: 1.25rem;
    }
</style>
