{% extends "base.html" %}

{% block main_content %}
    <article>
        {{ post_macros::page_header(title="Hi") }}
        <p>
            My name is Dhiraj Gagrai. 
            I am a software engineer currently going through the process of self-teaching myself how things work.
        <p>
            I currently build and design E-commerce apps at my full-time work.
            The technology stack that I work with includes Rust, and JavaScript.
            It also varies entirely to other tools like Magento, ASP.NET, etc. depending on the project that I am working.
        </p>
        <p>
            My recent adventures have led me to become an open-source enthusiast.
            I like to build software for myself in my free time and occassionally try to contribute to FOSS.
            I also find myself delving into video games, music (producing), reading, and basketball.
        </p>
        <p>
            If you have any recommendations for prog metal music or philosophy books, feel free to reach out to me at
            dhirajgagrai-at-google's-mail.
        </p>
        <p>
            Find me on
            <a href="https://github.com/dhirajgagrai" target="_blank">GitHub</a>,
            <a href="https://twitter.com/DhirajGagrai" target="_blank">Twitter</a>,
            <a href="https://www.linkedin.com/in/dhirajgagrai" target="_blank">Linkedin</a>
            or babatunde#2589 in Discord.
        </p>
    </article>
    <footer>
        <p>
            Powered by 
            <a target="_blank" href="https://github.com/not-matthias/apollo">apollo</a> from 
            <a target="_blank" href="https://getzola.org/">Zola</a>
        </p>
        <p>© 2022 Dhiraj Gagrai</p>
    </footer>
{% endblock main_content %}