{% extends "base.html" %}

{% block main_content %}
    {{ post_macros::page_header(title="Hi") }}

    <p>
        I am a Software Engineer in the process of teaching myself how things work.
        I am currently working as a Full Stack Developer, building and designing E-commerce apps.
        I work with Rust, React, .NET and other such tools of sorts.
    </p>
    <p>
        I am a huge open-source enthusiast and have been trying to get myself involved.
        I like to build software for myself in my free time and try to contribute to FOSS.
        I also find myself delving in video games, music (learning to produce), reading and basketball.
    </p>
    <h1>Contact</h1>
    <p>
        If you have any suggestions for prog metal or philosophy books, contact me below.
        <li>Email: dhirajgagrai-at-google's-mail</li>
        <li>GitHub: <a href="https://github.com/dhirajgagrai" target="_blank">dhirajgagrai</a></li>
        <li>Twitter: <a href="https://twitter.com/DhirajGagrai" target="_blank">DhirajGagrai</a></li>
        <li>Discord: babatunde#2589</li>
    </p>
    <footer>
        <p>
            Powered by <a target="_blank" href="https://github.com/not-matthias/apollo">apollo</a> from <a target="_blank" href="https://getzola.org/">Zola</a>
        </p>
    </footer>
{% endblock main_content %}